---
import Menu from "../componentes/Menu.astro"
const dataMenu = [
    {
        name:"Home",
        url:"/"
    },
    {
        name:"laptos",
        url:"/productos/laptop"
    },
    {
        name:"Nosotros",
        url:"/nosotros"
    }
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        
        <header>
            <div class="logo">Mi Logo</div>
            <nav>
                <ul>
                    <Menu nav={dataMenu}/>
                </ul>
            </nav>
        </header>
		<slot/>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
            }
            header {
                background-image: url('../../../public/fondito.jpg');
                color: white;
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
            }
            nav ul li {
                margin: 0 15px;
            }
            main {
                padding: 20px;
            }
            .servicios, .testimonios {
                margin: 20px 0;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
            }
            .servicio, .testimonio {
                border: 1px solid #ddd;
                padding: 15px;
                flex: 1 1 calc(33% - 20px); /* 3 columnas */
            }
            footer {
                background-color: #f1f1f1;
                padding: 10px;
                text-align: center;
            }
        </style>
	</body>
</html>